@model OnlineMoviesBooking.Models.Models.TypeOfMember

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TypeOfMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Mã loại tài khoản</label>
                <input asp-for="IdTypeMember" class="form-control" />
                <span asp-validation-for="IdTypeMember" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên</label>
                <input asp-for="TypeOfMemberName" class="form-control" />
                <span asp-validation-for="TypeOfMemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tiền qui đổi</label>
                <input asp-for="Money" class="form-control" />
                <span asp-validation-for="Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Điểm qui đổi</label>
                <input asp-for="Point" class="form-control" />
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

