@model OnlineMoviesBooking.Models.Models.TypesOfSeat

@{
    ViewData["Title"] = "Details";
}

<h4 class="row justify-content-center">Chi tiết đơn hàng</h4>
<br/>
<div class="row justify-content-center">
    <dl class="row">
        <dt>
            Tên loại
        </dt>
        <dd class="col-sm-2">
           <input asp-for="Name" class="form-control"/>
        </dd>
        <dt>
            Gía
        </dt>
        <dd class="col-sm-10">
            <input asp-for="Cost" class="form-control" />
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
        <a asp-action="Index">Trở lại</a>
    </div>
</div>