@model OnlineMoviesBooking.Models.Models.Movie

@{ 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="modal-header">
        <h4>Chi tiết phim</h4>
    </div>
    <div class="modal-body">
        <form>
            <dl class="row col-sm-12">
                <dt class="col-sm-3">
                    Tên
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Name" id="Name" class="form-control" disabled />
                </dd>
                <dt class="col-sm-3">
                    Thể loại
                </dt>
                <dd class="col-sm-9">
                    <textarea asp-for="Genre" id="Genre" class="form-control" disabled></textarea>
                </dd>
                <dt class="col-sm-3">
                    Đạo diễn
                </dt>
                <dd class="col-sm-9">
                    <textarea asp-for="Director" id="Director" class="form-control" disabled></textarea>
                </dd>
                <dt class="col-sm-3">
                    Diễ viên
                </dt>
                <dd class="col-sm-9">
                    <textarea asp-for="Casts" id="Casts" class="form-control" disabled></textarea>
                </dd>
                <dt class="col-sm-3">
                    Qui định
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="Rated" id="Rated" class="form-control" disabled />
                </dd>
                <dt class="col-sm-3">
                    Mô tả
                </dt>
                <dd class="col-sm-9">
                    <textarea asp-for="Description" id="Description" class="form-control" disabled></textarea>
                </dd>
                <dt class="col-sm-3">
                    Trailer
                </dt>
                <dd class="col-sm-9">
                    
                    <div>
                        <iframe width="560" height="315" src="@Model.Trailer" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>

                    </div>
                </dd>
                <dt class="col-sm-3">
                    Poster
                </dt>
                <dd class="col-sm-9">
                    <img width="560" src="@Model.Poster" />
                </dd>
                <dt class="col-sm-3">
                    Ngày khởi chiếu
                </dt>
                <dd class="col-sm-9">
                    <input asp-for="ReleaseDate" type="date" id="ReleaseDate" class="form-control" disabled />
                </dd>
                <dt class="col-sm-3">
                    Thời lượng
                </dt>
                <dd class="col-sm-9">

                    <input asp-for="RunningTime" id="RunningTime" class="form-control" disabled />
                </dd>
            </dl>
            <a asp-action="Index">Trở lại</a>
        </form>
    </div>
</div>
