@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<html lang="en">
<head>
    @*<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@ViewData["Title"]</title>

    @*<link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Template/css/all.min.css" rel="stylesheet" />
    <link href="~/Template/css/animate.css" rel="stylesheet" />
    <link href="~/Template/css/flaticon.css" rel="stylesheet" />
    <link href="~/Template/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Template/css/odometer.css" rel="stylesheet" />
    <link href="~/Template/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Template/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Template/css/nice-select.css" rel="stylesheet" />
    <link href="~/Template/css/main.css" rel="stylesheet" />
</head>
<body style="z-index:0;top:10rem;width:100%;height:100%" class="text-center">

    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Sign-In-Section========== -->
    <section class="account-section" style="margin-top:7rem">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <h2 class="title">welcome back</h2>
                    </div>
                    <form class="account-form" asp-action="ForgotPassword" method="post">
                        <div class="form-group">
                            <label>Email<span>*</span></label>
                            <input type="email" placeholder="Email" id="email" name="Email" required>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Tiếp tục">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    @*@{
        if (TempData["msg"] == "error")
        {
            <script>
                alert('Email khong ton tai!!')
            </script>
        }
    }*@



    <!-- ==========Sign-In-Section========== -->

    <script src="~/Template/js/jquery-3.3.1.min.js"></script>
    <script src="~/Template/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Template/js/plugins.js"></script>
    <script src="~/Template/js/isotope.pkgd.min.js"></script>
    <script src="~/Template/js/magnific-popup.min.js"></script>
    <script src="~/Template/js/owl.carousel.min.js"></script>
    <script src="~/Template/js/wow.min.js"></script>
    <script src="~/Template/js/countdown.min.js"></script>
    <script src="~/Template/js/odometer.min.js"></script>
    <script src="~/Template/js/viewport.jquery.js"></script>
    <script src="~/Template/js/nice-select.js"></script>
    <script src="~/Template/js/main.js"></script>
</body>
</html>

