@model OnlineMoviesBooking.Models.ViewModel.LoginModelView;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*<link href="~/Template/css/all.min.css" rel="stylesheet" />*@
    <link href="~/Template/css/animate.css" rel="stylesheet" />
    <link href="~/Template/css/flaticon.css" rel="stylesheet" />
    <link href="~/Template/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Template/css/odometer.css" rel="stylesheet" />
    <link href="~/Template/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Template/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Template/css/nice-select.css" rel="stylesheet" />
    <link href="~/Template/css/main.css" rel="stylesheet" />

</head>
<body style="z-index:0;top:0px;width:100%;height:100%" class="text-center">

    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Sign-In-Section========== -->
    <section class="account-section" style="margin-top:7rem">
        <div class="container">
            <div class="padding-top padding-bottom" style="padding:2rem">
                <div class="account-area">
                    <div class="section-header-3">
                        <span class="cate">hello</span>
                        <h2 class="title">welcome back</h2>
                    </div>
                    <form class="account-form" asp-action="Login" method="post">
                        <div class="form-group">
                            <label>Tên đăng nhập<span>*</span></label>
                            <input type="text" asp-for="Username" placeholder="Tên đăng nhập" required>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu<span>*</span></label>
                            <input type="password" asp-for="Password" placeholder="Mật khẩu" required>
                        </div>
                        <div class="form-group checkgroup">
                            <input type="checkbox" id="bal2" required checked>
                            <label for="bal2">Nhớ mật khẩu</label>
                            <a href="/Login/ForgotPassword" class="forget-pass">Quên mật khẩu</a>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Đăng nhập">
                        </div>
                    </form>
                    <div class="option">
                        Chưa có tài khoản? <a href="/Login/Register">Đăng ký ngay</a>
                    </div>
                    <div class="or"><span>Or</span></div>
                    <ul class="social-icons">
                        <li>
                            <a href="#0">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="active">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Sign-In-Section========== -->

    @{
        if (TempData["msg"] != null)
        {
            if (TempData["msg"].ToString() == "Error")
            {
                string msg = "truoc tien phai dang nhap!!!";
                <script>
                alert('@msg')
                </script>
            }
            else if (TempData["msg"].ToString() == "Wrong")
            {
                string msg = "Tai khoan hoac mat khau khong dung!!";
                <script>
                alert('@msg')
                </script>
            }
        }

    }
    <script src="~/Template/js/jquery-3.3.1.min.js"></script>
    <script src="~/Template/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Template/js/plugins.js"></script>
    <script src="~/Template/js/isotope.pkgd.min.js"></script>
    <script src="~/Template/js/magnific-popup.min.js"></script>
    <script src="~/Template/js/owl.carousel.min.js"></script>
    <script src="~/Template/js/wow.min.js"></script>
    <script src="~/Template/js/countdown.min.js"></script>
    <script src="~/Template/js/odometer.min.js"></script>
    <script src="~/Template/js/viewport.jquery.js"></script>
    <script src="~/Template/js/nice-select.js"></script>
    <script src="~/Template/js/main.js"></script>
    <script>

    </script>
</body>
</html>
