
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<body style="background-color: black;position:relative;z-index:0;top:0px;width:100%" class="text-center">
    <div class="row justify-content-center">
        <img src="~/assets/Img_aventure/tải xuống (1).jfif" alt="Alternate Text" style="width:103%;position:absolute;z-index:0" />
        <div style="width:30rem;margin-top:25rem;position:relative;z-index:1000">
            <!--Content-->
            <!--Header-->
            <div class="modal-header text-center">
                <h3 class="modal-title w-100 text-light font-weight-bold my-3"><strong>Đăng ký</strong></h3>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <!--Body-->
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="Form-email1">Tên đầy đủ</label>
                    <input type="email" id="Form-email1" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="Form-email1">Email</label>
                    <input type="email" id="Form-email1" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="Form-email1">Mật khẩu</label>
                    <input type="email" id="Form-email1" class="form-control validate">
                </div>

                <div class="md-form pb-3">
                    <label data-error="wrong" data-success="right" for="Form-pass1">Nhập lại mật khẩu</label>
                    <input type="password" id="Form-pass1" class="form-control validate">
                    
                </div>

                <div class="text-center mb-3">
                    <a href="#" type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Đăng ký</a>
                </div>

        </div>
        @*<div class="shadow border-0 rounded" style="z-index:1000;margin:25rem 0rem 10rem 0rem;opacity:1;color:white;width:50%">
            <div style="width:100%;font-size:3rem;padding:1rem;color:aliceblue;text-align:center">Đăng ký</div>
            <div style="width:100%;font-size:24px" class="justify-content-center">
                <div class="card-body">
                    <form >
                        <div class="form-group">
                            <label class="small mb-1" for="inputLastName">Last Name</label>
                            <input class="form-control py-4" id="inputLastName" type="text" placeholder="Enter last name" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                            <input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" />
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Password</label>
                                    <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
                                    <input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Confirm password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" href="/Login/Create">Tạo tài khoản</a></div>
                    </form>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="js/scripts.js"></script>

        </div>*@

    </div>
</body>
</html>