@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<section class="banner-section" style="padding: 3rem 0;">
    <div class="banner-bg bg_img bg-fixed" data-background="./assets/images/banner/banner02.jpg" style="background-image: url(&quot;./assets/images/banner/banner02.jpg&quot;);"></div>
    <div class="container">
        <div class="banner-content">
            <h4 style="padding:2rem">thanh toán thành công </h4>
            <h1 style="padding:2rem"><span class="color-theme"><i class="far fa-check-circle"></i></span></h1>
            
        </div>
    </div>
</section>