
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*<link href="~/Template/css/all.min.css" rel="stylesheet" />*@
    <link href="~/Template/css/animate.css" rel="stylesheet" />
    <link href="~/Template/css/flaticon.css" rel="stylesheet" />
    <link href="~/Template/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Template/css/odometer.css" rel="stylesheet" />
    <link href="~/Template/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Template/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Template/css/nice-select.css" rel="stylesheet" />
    <link href="~/Template/css/main.css" rel="stylesheet" />

</head>
<body>

    <section class="speaker-single" style="margin-top:13rem;margin-bottom:10rem">
        <div class="container" style="max-width:35rem">
            <div style="text-align:center">
                <img src="~/image/Account/error.png" style="max-width:35rem"/>
                <form class="contact-form" asstyle="text-align:center">

                    <div class="form-group">
                        <input asp-action="Index" asp-controller="Home" asp-area="" type="submit" value="Quay lại trang chủ" />
                    </div>
                </form>
                
            </div>
            
        </div>
        
    </section>
    <!-- ==========Sign-In-Section========== -->

    @{
        if (TempData["msg"] != null)
        {
            string msg = @"Trước tiên bạn phải đăng nhập!!!";
            <script>
                alert('@msg')
            </script>
        }
    }
    <script src="~/Template/js/jquery-3.3.1.min.js"></script>
    <script src="~/Template/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Template/js/plugins.js"></script>
    <script src="~/Template/js/isotope.pkgd.min.js"></script>
    <script src="~/Template/js/magnific-popup.min.js"></script>
    <script src="~/Template/js/owl.carousel.min.js"></script>
    <script src="~/Template/js/wow.min.js"></script>
    <script src="~/Template/js/countdown.min.js"></script>
    <script src="~/Template/js/odometer.min.js"></script>
    <script src="~/Template/js/viewport.jquery.js"></script>
    <script src="~/Template/js/nice-select.js"></script>
    <script src="~/Template/js/main.js"></script>
    <script>

    </script>
</body>
</html>
