 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<!-- ==========Preloader========== -->
<div class="preloader" style="display: none;">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Banner-Section========== -->
<section class="details-banner bg_img" data-background="./assets/images/banner/banner03.jpg" style="background-image: url(&quot;./assets/images/banner/banner03.jpg&quot;);">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-thumb">
                <img src="~/Customer/logo/venus.jpg" alt="movie">
                <a href="https://www.youtube.com/embed/KGeBMAgc46E" class="video-popup">
                    <img src="~/Customer/logo/video-button.png" alt="movie">
                </a>
            </div>
            <div class="details-banner-content offset-lg-3">
                <h3 class="title">Venus</h3>
                <div class="tags">
                    <a href="http://pixner.net/boleto/demo/movie-details.html#0">English</a>
                    <a href="http://pixner.net/boleto/demo/movie-details.html#0">Hindi</a>
                    <a href="http://pixner.net/boleto/demo/movie-details.html#0">Telegu</a>
                    <a href="http://pixner.net/boleto/demo/movie-details.html#0">Tamil</a>
                </div>
                <a href="http://pixner.net/boleto/demo/movie-details.html#0" class="button">horror</a>
                <div class="social-and-duration">
                    <div class="duration-area">
                        <div class="item">
                            <i class="fas fa-calendar-alt"></i><span>06 Dec, 2020</span>
                        </div>
                        <div class="item">
                            <i class="far fa-clock"></i><span>2 hrs 50 mins</span>
                        </div>
                    </div>
                    <ul class="social-share">
                        <li><a href="http://pixner.net/boleto/demo/movie-details.html#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="http://pixner.net/boleto/demo/movie-details.html#0"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="http://pixner.net/boleto/demo/movie-details.html#0"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="http://pixner.net/boleto/demo/movie-details.html#0"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="http://pixner.net/boleto/demo/movie-details.html#0"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Book-Section========== -->
<section class="book-section bg-one">
    <div class="container">
        <div class="book-wrapper offset-lg-3">
            <div class="left-side">
                <div class="item">
                    <div class="item-header">
                        <div class="thumb">
                            <img src="~/Customer/logo/cake2.png" alt="movie">
                        </div>
                        <div class="counter-area">
                            <span class="counter-item odometer odometer-auto-theme" data-odometer-final="88"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">8</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">8</span></span></span></span></span></div></span>
                        </div>
                    </div>
                    <p>audience Score</p>
                </div>
                <div class="item">
                    <div class="item-header">
                        <h5 class="title">4.5</h5>
                        <div class="rated">
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <p>Users Rating</p>
                </div>
                <div class="item">
                    <div class="item-header">
                        <div class="rated rate-it">
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                        </div>
                        <h5 class="title">0.0</h5>
                    </div>
                    <p><a href="http://pixner.net/boleto/demo/movie-details.html#0">Rate It</a></p>
                </div>
            </div>
            <a href="http://pixner.net/boleto/demo/movie-details.html#0" class="custom-button">book tickets</a>
        </div>
    </div>
</section>
<!-- ==========Book-Section========== -->
<!-- ==========Preloader========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-details-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center flex-wrap-reverse mb--50">
          
            <div class="col-lg-9 mb-50">
                <div class="movie-details">
                    <h3 class="title">photos</h3>
                    <div class="details-photos owl-carousel owl-loaded owl-drag">

                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-877px, 0px, 0px); transition: all 1s ease 0s; width: 1755px;">
                                <div class="owl-item" style="width: 262.5px; margin-right: 30px;">
                                    <div class="thumb">
                                        <a href="~/Customer/logo/movie-details01.jpg" class="img-pop">
                                            <img src="~/Customer/logo/movie-details01.jpg" alt="movie">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 262.5px; margin-right: 30px;">
                                    <div class="thumb">
                                        <a href="~/Customer/logo/movie-details02.jpg" class="img-pop">
                                            <img src="~/Customer/logo/movie-details02.jpg" alt="movie">
                                        </a>
                                    </div>
                                </div><div class="owl-item" style="width: 262.5px; margin-right: 30px;">
                                    <div class="thumb">
                                        <a href="~/Customer/logo/movie-details03.jpg" class="img-pop">
                                            <img src="~/Customer/logo/movie-details03.jpg" alt="movie">
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                                    <div class="thumb">
                                        <a href="~/Customer/logo/movie-details01.jpg" class="img-pop">
                                            <img src="~/Customer/logo/movie-details01.jpg" alt="movie">
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                                    <div class="thumb">
                                        <a href="~/Customer/logo/movie-details02.jpg" class="img-pop">
                                            <img src="~/Customer/logo/movie-details02.jpg" alt="movie">
                                        </a>
                                    </div>
                                </div><div class="owl-item active" style="width: 262.5px; margin-right: 30px;">
                                    <div class="thumb">
                                        <a href="~/Customer/logo/movie-details03.jpg" class="img-pop">
                                            <img src="~/Customer/logo/movie-details03.jpg" alt="movie">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
                    </div>
                    <div class="tab summery-review">
                        <ul class="tab-menu">
                            <li class="active">
                                giới thiệu
                            </li>
                        </ul>
                        <div class="tab-area">
                            <div class="tab-item active">
                                <div class="item">
                                    <h5 class="sub-title">đạo diễn</h5>
                                </div>
                            </div>
                            <div class="tab-item active">
                                <div class="item">
                                    <h5 class="sub-title">Nội dung</h5>
                                    <p>Trong chuyến đi chơi cùng bà, một cậu bé 7 tuổi vô tình lọt vào hội nghị của các phù thủy và bị Phù Thủy Tối Thượng biến thành chuột bằng một loại thuốc đặc biệt. Đây cũng chính là chất độc ả định dùng để biến tất cả trẻ em thành loài gặm nhấm. Cùng với bà mình, cậu bé phải tìm mọi cách trở lại hình dạng thật và đánh bại âm mưu của binh đoàn Phù Thủy. </p>
                                </div>
                                <div class="item">
                                    <h5 class="sub-title">Trailer</h5>
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Kmd24MrCHXI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="tab-item">
                                <div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                <img src="~/Customer/logo/cast02.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <span class="reply-date">13 Days Ago</span>
                                            <h6 class="subtitle"><a href="http://pixner.net/boleto/demo/movie-details.html#0">minkuk seo</a></h6>
                                            <span><i class="fas fa-check"></i> verified review</span>
                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <div class="review">
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                        </div>
                                        <h6 class="cont-title">Awesome Movie</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat enim non ante egestas vehicula. Suspendisse potenti. Fusce malesuada fringilla lectus venenatis porttitor. </p>
                                        <div class="review-meta">
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                <i class="flaticon-hand"></i><span>8</span>
                                            </a>
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0" class="dislike">
                                                <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                            </a>
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                Report Abuse
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                <img src="~/Customer/logo/cast04.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <span class="reply-date">13 Days Ago</span>
                                            <h6 class="subtitle"><a href="http://pixner.net/boleto/demo/movie-details.html#0">rudra rai</a></h6>
                                            <span><i class="fas fa-check"></i> verified review</span>
                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <div class="review">
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                        </div>
                                        <h6 class="cont-title">Awesome Movie</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat enim non ante egestas vehicula. Suspendisse potenti. Fusce malesuada fringilla lectus venenatis porttitor. </p>
                                        <div class="review-meta">
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                <i class="flaticon-hand"></i><span>8</span>
                                            </a>
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0" class="dislike">
                                                <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                            </a>
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                Report Abuse
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                <img src="~/Customer/logo/cast01.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <span class="reply-date">13 Days Ago</span>
                                            <h6 class="subtitle"><a href="http://pixner.net/boleto/demo/movie-details.html#0">rafuj</a></h6>
                                            <span><i class="fas fa-check"></i> verified review</span>
                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <div class="review">
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                        </div>
                                        <h6 class="cont-title">Awesome Movie</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat enim non ante egestas vehicula. Suspendisse potenti. Fusce malesuada fringilla lectus venenatis porttitor. </p>
                                        <div class="review-meta">
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                <i class="flaticon-hand"></i><span>8</span>
                                            </a>
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0" class="dislike">
                                                <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                            </a>
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                Report Abuse
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                <img src="~/Customer/logo/cast03.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <span class="reply-date">13 Days Ago</span>
                                            <h6 class="subtitle"><a href="http://pixner.net/boleto/demo/movie-details.html#0">bela bose</a></h6>
                                            <span><i class="fas fa-check"></i> verified review</span>
                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <div class="review">
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                            <i class="flaticon-favorite-heart-button"></i>
                                        </div>
                                        <h6 class="cont-title">Awesome Movie</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat enim non ante egestas vehicula. Suspendisse potenti. Fusce malesuada fringilla lectus venenatis porttitor. </p>
                                        <div class="review-meta">
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                <i class="flaticon-hand"></i><span>8</span>
                                            </a>
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0" class="dislike">
                                                <i class="flaticon-dont-like-symbol"></i><span>0</span>
                                            </a>
                                            <a href="http://pixner.net/boleto/demo/movie-details.html#0">
                                                Report Abuse
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="load-more text-center">
                                    <a href="http://pixner.net/boleto/demo/movie-details.html#0" class="custom-button transparent">load more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Section========== -->
