
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <div>
        <main>
            <div class="container-fluid">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Doanh thu</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white">@ViewBag.Count VNĐ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Số vé bán ra</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white">@ViewBag.Ticket vé</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Số lượt đặt vé</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                
                                <div class="small text-white">@ViewBag.Book lượt</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Tài khoản</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white">@ViewBag.Account <i class="fas fa-user-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area mr-1"></i>
                                Biểu đồ đường
                            </div>
                            <div class="card-body">
                            <canvas id="myAreaChart"  style="height:18rem"></canvas></div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar mr-1"></i>
                                Biểu đồ cột
                            </div>
                            <div class="card-body">
                            <canvas id="myBarChart" style="height:15rem"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>
</html>
@section Scripts{

    @*<script src="~/js/statisticAdmin.js"></script>*@
    <script src="~/assets/demo/chart-area-demo.js"></script>
    @*<script src="~/js/statisticAdmin.js"></script>*@
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    @*<script src="~/assets/demo/chart-pie-demo.js"></script>*@
}