
@{
    Layout = "_LayoutLogin";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
</head>
<body style="background-color: rgb(21,24,41);" class="text-center">
    <div style="position:relative;z-index:0;top:0px;width:100%">
        <img src="~/assets/Img_aventure/tải xuống.jfif" alt="Alternate Text" style="width:105%" />
        <div style="position:absolute;z-index:0;top:25rem;width:100%">
            <img src="~/assets/Img_aventure/tải xuống (3).jfif" alt="hihi" style="width:90%;margin-bottom:5rem"/>
        </div>
    </div>
    
    <div style="margin-top:25rem;position:relative">
        
        <div>
            <div class="container-fluid text-center" style="width:80%;margin-bottom:2rem">
                <div style="font-size:4rem;font-weight:500;color:white;text-align:left;position:relative;width:100%">
                    MOVIES
                    <a style="font-size:1rem;font-weight:500;color:white;position:absolute;right:1rem;bottom:0rem" href="#" class="btn btn-outline-default">View all</a>
                </div>
                <hr style="background-color:white;width:100%;top:0px" />
                <div>
                    <div class="row">
                        <div class="col col-sm-6 col-lg-4" style="margin-bottom:1rem">
                            <img src="~/assets/img/harlypic.jpg" alt="Harly qquin" class="img-fluid" />
                            <div style="background-color:#1a237e;height:7rem">
                                <div style="font-size:2rem;font-weight:500;color:white;text-align:center;position:relative;width:100%">
                                    Harly Quinn
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-6 col-lg-4"style="margin-bottom:1rem">
                            <img src="~/assets/img/jokerpic.jpg" alt="Harly qquin" class="img-fluid" />
                            <div style="background-color:#1a237e;height:7rem">
                                <div style="font-size:2rem;font-weight:500;color:white;text-align:center;position:relative;width:100%">
                                    Joker
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-6 col-lg-4"style="margin-bottom:1rem">
                            <img src="~/assets/img/doctorpic.jpg" alt="Harly qquin" class="img-fluid" />
                            <div style="background-color:#1a237e;height:7rem">
                                <div style="font-size:2rem;font-weight:500;color:white;text-align:center;position:relative;width:100%">
                                    Doctor Strange
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid text-center" style="width:80%;margin-bottom:2rem">
                <div style="font-size:4rem;font-weight:500;color:white;text-align:left;position:relative;width:100%">
                    EVENTS
                    <a style="font-size:1rem;font-weight:500;color:white;position:absolute;right:1rem;bottom:0rem" href="#" class="btn btn-outline-default">View all</a>
                </div>
                <hr style="background-color:white;width:100%;top:0px" />
                <div>
                    <div class="row">
                        <div class="col col-sm-6 col-lg-4"style="margin-bottom:1rem;r">
                            <img src="~/assets/img/harlypic.jpg" alt="Harly qquin" class="img-fluid" />
                            <div style="background-color:#1a237e;height:5rem"></div>
                        </div>
                        <div class="col col-sm-6 col-lg-4"style="margin-bottom:1rem">
                            <img src="~/assets/img/jokerpic.jpg" alt="Harly qquin" class="img-fluid" />
                            <div style="background-color:#1a237e;height:5rem"></div>
                        </div>
                        <div class="col col-sm-6 col-lg-4"style="margin-bottom:1rem">
                            <img src="~/assets/img/doctorpic.jpg" alt="Harly qquin" class="img-fluid" />
                            <div style="background-color:#1a237e;height:5rem"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    


</body>
</html>