@model IEnumerable<OnlineMoviesBooking.Models.Models.Screen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="jumbotron" style="padding: 1rem;">
    <h4>Rạp</h4>
    <hr/>
    <div style="display: flex;">
        <select class="form-control col-md-6" asp-items="ViewBag.Theater">
            <option value="">Tất cả</option>
        </select>
        
        <button class="btn btn-primary" style="margin-left: 2rem;">Lọc</button>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTheaterNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
