<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineMoviesBooking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="opacity:0.8;">
        <a class="navbar-brand" href="index.html">Manager</a>
        <button class="btn btn-link btn-sm order-12 order-lg-12" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
          
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav order-11 order-lg-11">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light " id="sidenavAccordion" style="opacity:0.8;">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <a class="nav-link " href="~/index.html">
                            <div class="sb-nav-link-icon">
                                <img src="/assets/img/home_120283.png" alt="dashboard" style="width:20px;margin-right:0.5rem;" />
                            </div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="~/index.html">
                            <div class="sb-nav-link-icon">
                                <img src="~/assets/img/users_21942.png" alt="user account manager" style="width:20px;margin-right:0.5rem;" />
                            </div>
                            Quản lý tài khoản
                        </a>
                        <a class="nav-link" href="~/index.html">
                            <div class="sb-nav-link-icon">
                                <img src="/assets/img/fullfilmroll_5226.png" alt="film manager" style="width:20px;margin-right:0.5rem;" />
                            </div>
                            Quản lý phim
                        </a>
                        <a class="nav-link" href="~/index.html">
                            <div class="sb-nav-link-icon">
                                <img src="/assets/img/window_121576.png" alt="theater manager" style="width:20px;margin-right:0.5rem;" />
                            </div>
                            Quản lý rạp
                        </a>
                        <a class="nav-link" href="~/index.html">
                            <div class="sb-nav-link-icon">
                                <img src="/assets/img/performance-theater.png" alt="cinema room" style="width:20px;margin-right:0.5rem;" />
                            </div>
                            Quản lý phòng chiếu
                        </a>
                        <a class="nav-link" href="~/index.html">
                            <div class="sb-nav-link-icon">
                                <img src="/assets/img/wondicon-ui-free-calender_111212.png" alt="show calender manager" style="width:20px;margin-right:0.5rem;" />
                            </div>
                            Quản lý lịch chiếu
                        </a>
                        <a class="nav-link" href="~/index.html">
                            <div class="sb-nav-link-icon">
                                <img src="/assets/img/3592853-align-employee-general-human-human-list-list-member_107786.png" alt="member manager" style="width:20px;margin-right:0.5rem;" />
                            </div>
                            Thành viên
                        </a>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><img src="~/assets/img/3592841-cog-gear-general-machine-office-setting-settings_107765.png" style="width:20px;margin-right:0.5rem;"></img></div>
                            Tác vụ khác
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">
                                    <img src="~/assets/img/4301474cinemadessertfastfoodfilmfoodpopcornsweet-115954_115888.png" alt="corn" style="width:20px;margin-right:0.5rem;" /> Thức ăn nhanh
                                </a>
                                <a class="nav-link" href="#">
                                    <img src="~/assets/img/gift_icon-icons.com_48294.png" alt="gift" style="width:20px;margin-right:0.5rem;" /> Sự kiện
                                </a>
                                <a class="nav-link" href="#">
                                    <img src="~/assets/img/353441-bubble-chat-communication-double-message-round-speech-talk_107511.png" style="width:20px;margin-right:0.5rem;" alt="Alternate Text" /> Phản hồi
                                </a>

                            </nav>
                        </div>
                    </div>
                </div>
                
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="assets/demo/chart-pie-demo.js"></script>
</body>

</html>
