@model OnlineMoviesBooking.Models.Models.Account

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên đăng nhập</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Họ và tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày sinh</label>
                <input asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giới tính</label>
                <select class="form-control" asp-for="Gender">
                    <option value="true">Nam</option>
                    <option value="false">Nữ</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số điện thoại</label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Điểm</label>
                <input asp-for="Point" class="form-control" />
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Loại tài khoản</label>
                <select class="form-control" asp-for="IdTypesOfUser">
                    <option value="1">Quản trị viên</option>
                    <option value="2">Khách hàng</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Loại tài khoản thành viên</label>
                <select class="form-control" asp-for="IdTypeOfMember">
                    <option value="mobile">Mobile</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="Image" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input name="files" type="file" class="form-control-file"
                       id="exampleInputFile" aria-describedby="fileHelp" multiple>
            </div>
            <div class="form-group">
                <button type="submit" onclick="validateInput()" class="btn btn-primary">Tạo</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
