@model OnlineMoviesBooking.Models.Models.Discount

@{
    ViewData["Title"] = "Details";
}

<h4 class="row justify-content-center">
    Chi tiết khuyến mãi
</h4>
<div class="row justify-content-center">
    
    <div class=" col-lg-6" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" class="form-control" hidden />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control "disabled />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="PercentDiscount" class="control-label"></label>
            <input asp-for="PercentDiscount" class="form-control" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="MaxCost" class="control-label"></label>
            <input asp-for="MaxCost" class="form-control"disabled />
        </div>
        <div class="form-group">
            <label asp-for="DateStart" class="control-label"></label>
            <input asp-for="DateStart" class="form-control" type="datetime-local" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="DateEnd" class="control-label"></label>
            <input asp-for="DateEnd" class="form-control" type="datetime-local" disabled/>
        </div>
        <div class="form-group">
            <label asp-for="ImageDiscount" class="control-label"></label>
            <img width="560" src="@Model.ImageDiscount" />
        </div>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a> |
            <a asp-action="Index">Trở lại</a>
        </div>
    </div>
</div>


