@model OnlineMoviesBooking.Models.Models.Discount

@{ 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h4 class="row justify-content-center">Tạo khuyến mãi</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" type="date" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnd" class="control-label"></label>
                <input asp-for="DateEnd"  type="date" class="form-control" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageDiscount" class="control-label"></label>
                <input id="uploadBox" asp-for="ImageDiscount"  type ="file" name="files" accept="image/*" class="form-control-file" />
                <span asp-validation-for="ImageDiscount" class="text-danger"></span>
            </div>
            <div class="card border-primary mb-3">
                <div class="card-header">Mức khuyến mãi</div>
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="percent" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Phần trăm
                        </label>
                        <div class="form-group">
                            <label asp-for="PercentDiscount" class="control-label"></label>
                            <input  asp-for="PercentDiscount" class="form-control" />
                            <span asp-validation-for="PercentDiscount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" value="cost" id="flexRadioDefault2" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            Đồng giá
                        </label>
                        <div class="form-group">
                            <label asp-for="MaxCost" class="control-label"></label>
                            <input  asp-for="MaxCost" class="form-control" />
                            <span asp-validation-for="MaxCost" class="text-danger"></span>
                        </div>
                    </div>
                    
                    
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index">Trở lại</a>
            </div>
        </form>
       
    </div>
</div>

