@*@model IEnumerable<OnlineMoviesBooking.Models.Models.Qa>*@

@{
    ViewData["Title"] = "AllQuestion";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    @*<link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />*@
    @*<link href="~/Template/css/all.min.css" rel="stylesheet" />*@
    <link href="~/Template/css/animate.css" rel="stylesheet" />
    <link href="~/Template/css/flaticon.css" rel="stylesheet" />
    <link href="~/Template/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Template/css/odometer.css" rel="stylesheet" />
    <link href="~/Template/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Template/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Template/css/nice-select.css" rel="stylesheet" />
    <link href="~/Template/css/main.css" rel="stylesheet" />

    <title>Boleto  - Online Ticket Booking Website HTML Template</title>


</head>

<body>

    <!-- ==========Speaker-Single========== -->
    <section class="speaker-single" style="margin-top:13rem;margin-bottom:10rem">
        <div class="container">
            <h4>Phim</h4>
            <br />
            <form class="contact-form " id="areaFQA">

                <div class="card-header bg-six shadow" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse"
                           data-target="#collapseOne"
                           aria-expanded="false" aria-controls="collapseOne">
                            Trước khi được trình chiếu tại Việt Nam, các bộ phim phải trải qua sự kiểm duyệt và cấp phép như thế nào?
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse bg-transparent"
                     aria-labelledby="headingOne" data-parent="#areaFQA">
                    <div class="card-body">
                        Tất cả những phim được trình chiếu tại các rạp chiếu phim ở Việt Nam phải được kiểm duyệt, sau đó được cấp giấy phép phát hành và phạm vi phổ biến phim bởi Cục Điện Ảnh thuộc Bộ Văn Hóa, Thể Thao và Du Lịch Việt Nam.
                        Do đó, một số cảnh quay có thể được yêu cầu phải cắt bỏ bởi Cục Điện Ảnh để phù hợp với văn hóa của Việt Nam trước khi lưu hành. Tuy nhiên, không ngoại trừ một số phim sẽ không được cấp phép phát hành tại Việt Nam.
                    </div>
                </div>



                <br />
                <div class="card-header bg-six p shadow" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse"
                           data-target="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            Suất Chiếu Đặc Biệt là gì?
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                     data-parent="#areaFQA">
                    <div class="card-body">
                        Suất Chiếu Đặc Biệt là những suất chiếu được ra rạp trước ngày công chiếu chính thức
                    </div>
                </div>




                <br />
                <div class="card-header bg-six p shadow" id="headingThree">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse"
                           data-target="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            Phân loại phim P, C13, C16, C18 là gì?
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                     data-parent="#areaFQA">
                    <div class="card-body">
                        Căn cứ Thông tư số 12/2015/TT-BVHTTDL của Bộ trưởng Bộ Văn hóa, Thể thao và Du lịch có hiệu lực thi hành từ ngày 01/01/2017, Tiêu chí phân loại phim theo lứa tuổi được quy định như sau:

                        P: Phim được phép phổ biến rộng rãi đến mọi đối tượng

                        C13: Phim cấm phổ biến đến khán giả dưới 13 tuổi

                        C16: Phim cấm phổ biến đến khán giả dưới 16 tuổi

                        C18: Phim cấm phổ biến đến khán giả dưới 18 tuổi

                        Khách hàng vui lòng chứng thực được độ tuổi phù hợp với phim được phân loại như trên. CGV có quyền từ chối việc bán vé hoặc vào phòng chiếu nếu khách hàng không tuân thủ đúng theo quy định.
                    </div>
                </div>
                <br />
                <br />
                <h4>Chương trình thành viên</h4>
                <br />
                <br />
                <div class="card-header bg-six shadow" id="headingFour">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse"
                           data-target="#collapseFour"
                           aria-expanded="false" aria-controls="collapseFour">
                            Chương trình thành viên CGV là gì?
                        </a>
                    </h5>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                     data-parent="#areaFQA">
                    <div class="card-body">
                        <p>
                            Đây là chương trình mang đến những ưu đãi đặc quyền dành riêng cho thành viên khi trải nghiệm dịch vụ giải trí điện ảnh tại CGV. Với tài khoản thành viên của mình, bạn có thể:
                        </p>
                        <p>
                            - Đặt vé và thanh toán trực tuyến.
                        </p>
                        <p>
                            - Nhận combo bắp nước/vé xem phim vào tháng sinh nhật
                        </p>
                        - Có cơ hội tận hưởng những ưu đãi và quà tặng đặc biệt.

                        - Nhận bản tin điện ảnh hàng tuần về email.

                        - Bình luận về phim bạn yêu thích tại website CGV.

                        - Kết nối với những người đam mê điện ảnh.
                    </div>
                </div>




                <br />
                <div class="card-header bg-six p shadow" id="headingFive">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse"
                           data-target="#collapseFive"
                           aria-expanded="false" aria-controls="collapseFive">
                            Suất Chiếu Đặc Biệt là gì?
                        </a>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                     data-parent="#areaFQA">
                    <div class="card-body">
                        Suất Chiếu Đặc Biệt là những suất chiếu được ra rạp trước ngày công chiếu chính thức
                    </div>
                </div>




                <br />
                <div class="card-header bg-six p shadow" id="headingSix">
                    <h5 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse"
                           data-target="#collapseSix"
                           aria-expanded="false" aria-controls="collapseSix">
                            Phân loại phim P, C13, C16, C18 là gì?
                        </a>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                     data-parent="#areaFQA">
                    <div class="card-body">
                        Căn cứ Thông tư số 12/2015/TT-BVHTTDL của Bộ trưởng Bộ Văn hóa, Thể thao và Du lịch có hiệu lực thi hành từ ngày 01/01/2017, Tiêu chí phân loại phim theo lứa tuổi được quy định như sau:

                        P: Phim được phép phổ biến rộng rãi đến mọi đối tượng

                        C13: Phim cấm phổ biến đến khán giả dưới 13 tuổi

                        C16: Phim cấm phổ biến đến khán giả dưới 16 tuổi

                        C18: Phim cấm phổ biến đến khán giả dưới 18 tuổi

                        Khách hàng vui lòng chứng thực được độ tuổi phù hợp với phim được phân loại như trên. CGV có quyền từ chối việc bán vé hoặc vào phòng chiếu nếu khách hàng không tuân thủ đúng theo quy định.
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- ==========Speaker-Single========== -->
    <!-- ==========Newslater-Section========== -->

    <script src="~/Template/js/jquery-3.3.1.min.js"></script>
    <script src="~/Template/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Template/js/plugins.js"></script>
    <script src="~/Template/js/isotope.pkgd.min.js"></script>
    <script src="~/Template/js/magnific-popup.min.js"></script>
    <script src="~/Template/js/owl.carousel.min.js"></script>
    <script src="~/Template/js/wow.min.js"></script>
    <script src="~/Template/js/countdown.min.js"></script>
    <script src="~/Template/js/odometer.min.js"></script>
    <script src="~/Template/js/viewport.jquery.js"></script>
    <script src="~/Template/js/nice-select.js"></script>
    <script src="~/Template/js/main.js"></script>
    @*<script>
            $(document).ready(function () {
                $('#areaFQA').DataTable({
                    "ajax": {
                        "url": "/Admin/Products/GetAll"
                    },
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },
                        { "data": "description" },
                        { "data": "imageUrl" },
                        { "data": "price" },
                        { "data": "status" },
                        { "data": "quantity" },
                        { "data": "categoryId" },
                        { "data": "shopId" },
                        {
                            "data": "id",
                            "render": function (data) {
                                return `
                                 <div class="text-center">
                                    <a href="#" data-toggle="modal" data-target="#EditModalProduct" data-whatever="${data}" class="btn btn-success text-white" style="cursor:pointer">
                                        Sửa
                                    </a>
                                    <a href="#" data-toggle="modal" data-target="#DetailModalProduct" data-whatever="${data}" class="btn btn-dark text-white" style="cursor:pointer"">
                                        Detail
                                    </a>
                                    <a onClick=Delete("/Admin/Products/Delete/${data}") class="btn btn-danger text-white" style="cursor:pointer">
                                        Xóa
                                    </a>
                                </div>

                               `;
                            }, "width": "40%"
                        }
                    ]

                });

                $('.selectlist').select2({
                    placeholder: "Select a product",
                    minimumInputLength: 1,
                    ajax: {
                        url: '/Admin/Products/GetforSelect',
                        data: function (params) {
                            return {
                                q: params.term// search term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data.items
                            }
                        },
                    }



                });



            });
        </script>*@
</body>

</html>
