@model IEnumerable<OnlineMoviesBooking.Models.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Tên phim</th>
            <th>Poster</th>
            <th>Thời gian bắt đầu</th>
            <th>Thời gian kết thúc</th>
            <th>Phòng chiếu</th>
            <th>Rạp chiếu phim</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
