@model OnlineMoviesBooking.Models.ViewModel.ChangePasswordViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    @*<link href="~/Template/css/all.min.css" rel="stylesheet" />*@
    <link href="~/Template/css/animate.css" rel="stylesheet" />
    <link href="~/Template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Template/css/flaticon.css" rel="stylesheet" />
    <link href="~/Template/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Template/css/main.css" rel="stylesheet" />
    <link href="~/Template/css/nice-select.css" rel="stylesheet" />
    <link href="~/Template/css/odometer.css" rel="stylesheet" />
    <link href="~/Template/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Template/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/build/toastr.css" rel="stylesheet" />
</head>

<body>

    <!-- ==========Contact-Section========== -->
    <section class="contact-section padding-top">
        <div class="contact-container">
            <div class="container" style="max-width:40rem">
                <form class="contact-form" id="contact_form_submit" asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>Mật khẩu hiện tại<span>*</span></label>
                        <input type="password" asp-for="OldPasswword" placeholder="Mật khẩu hiện tại" required>
                        <span asp-validation-for="OldPasswword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu mới<span>*</span></label>
                        <input type="password" asp-for="NewPassword" placeholder="Mật khẩu mới" required>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Nhập lại mật khẩu<span>*</span></label>
                        <input type="password" asp-for="ComfirmNewPassword" placeholder="Nhập lại mật khẩu mới" required>
                        <span asp-validation-for="ComfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu">
                    </div>
                </form>
            </div>

        </div>
    </section>
    <!-- ==========Contact-Section========== -->
    @{
        if (TempData["msgchange"] != null)
        {
            
            <script>
                alert('Mat khau khong dung')
            </script>
        }

    }

</body>
</html>
@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @*<script src="~/DataTables/js/dataTables.bootstrap4.min.js"></script>*@
    <script src="~/DataTables/js/jquery.dataTables.min.js"></script>
    <script src="~/js/Questionanswer.js"></script>

}

